<h2 class="text-2xl text-center mt-2">Reactivos: <small class="text-xl">Switches</small></h2>
<div class="divider"></div>

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    <!-- Radio -->
    <div>
      <fieldset class="fieldset bg-base-100 border-base-300 rounded-box w-64 border p-4">
        <legend class="fieldset-legend">Género</legend>
        <div class="join gap-4">
          <label class="label">
            <input
              type="radio"
              value="M"
              id="radioMasculino"
              class="radio"
              formControlName="gender"
            />
            Masculino
          </label>
          <label class="label">
            <input
              type="radio"
              value="F"
              id="radioFemenino"
              class="radio"
              formControlName="gender"
            />
            Femenino
          </label>
        </div>
      </fieldset>
    </div>

    <!-- Switches -->
    <div>
      <fieldset class="fieldset bg-base-100 border-base-300 rounded-box w-64 border p-4">
        <legend class="fieldset-legend">Notificaciones</legend>
        <label class="label">
          <input
            type="checkbox"
            id="flexSwitchCheckChecked"
            class="checkbox"
            formControlName="wantNotifications"
          />
          Quiero recibir notificaciones
        </label>
      </fieldset>
    </div>

    <!-- Switches -->
    <div>
      <fieldset
        [class.text-error]="formUtils.isValidField(myForm, 'termAndConditions')"
        class="fieldset bg-base-100 border-base-300 rounded-box w-64 border p-4"
      >
        <legend class="fieldset-legend"></legend>
        <label class="label">
          <input
            type="checkbox"
            id="flexCheckDefault"
            class="checkbox"
            formControlName="termAndConditions"
          />
          Términos y condiciones de uso
        </label>

        @if (formUtils.isValidField(myForm, 'termAndConditions')) {
          <span class="text-sm text-error"> Debe de aceptar las condiciones de uso </span>
        }
      </fieldset>
    </div>
  </div>

  <!-- Boton submit -->
  <div class="flex justify-center items-center">
    <button class="btn btn-primary float-end" type="submit">Guardar</button>
  </div>
</form>

<div class="divider"></div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 m-5">
  <div>
    <span class="text-xl"><strong>Valor del formulario</strong></span>
    <pre>{{ myForm.value | json }}</pre>
  </div>
  <div>
    <span class="text-xl"><strong>Persona</strong></span>
    <pre>{{ myForm.controls['gender'].value | json }}</pre>
  </div>
  <div>
    <span class="text-xl"><strong>Valid</strong></span>
    <pre>{{ myForm.valid | json }}</pre>
  </div>
  <div>
    <span class="text-xl"><strong>Términos</strong></span>
    <!-- <pre>{{ myForm.controls?.terminos?.errors | json }}</pre> -->
  </div>
  <div>
    <span class="text-xl"><strong>Condiciones</strong></span>
    <pre>Condiciones: </pre>
  </div>
</div>
