<h2 class="text-2xl text-center mt-2">Reactivos: <small class="text-xl">Switches</small></h2>
<div class="divider"></div>

<form autocomplete="off">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    <!-- Radio -->
    <div>
      <fieldset class="fieldset bg-base-100 border-base-300 rounded-box w-64 border p-4">
        <legend class="fieldset-legend">Género</legend>
        <div class="join gap-4">
          <label class="label">
            <input type="radio" name="radio-1" value="M" id="radioMasculino" class="radio" />
            Masculino
          </label>
          <label class="label">
            <input type="radio" name="radio-1" value="F" id="radioFemenino" class="radio" />
            Femenino
          </label>
        </div>
      </fieldset>
    </div>

    <!-- Switches -->
    <div>
      <fieldset class="fieldset bg-base-100 border-base-300 rounded-box w-64 border p-4">
        <legend class="fieldset-legend">Notificaciones</legend>
        <label class="label">
          <input type="checkbox" id="flexSwitchCheckChecked" class="checkbox" />
          Quiero recibir notificaciones
        </label>
      </fieldset>
    </div>

    <!-- Switches -->
    <div>
      <fieldset class="fieldset bg-base-100 border-base-300 rounded-box w-64 border p-4">
        <legend class="fieldset-legend"></legend>
        <label class="label">
          <input type="checkbox" id="flexCheckDefault" class="checkbox" />
          Términos y condiciones de uso
        </label>
        <span class="text-error text-sm"> Debe de aceptar las condiciones de uso </span>
      </fieldset>
    </div>
  </div>

  <!-- Boton submit -->
  <div class="flex justify-center items-center">
    <button class="btn btn-primary float-end" type="submit">Guardar</button>
  </div>
</form>

<div class="divider"></div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 m-5">
  <div>
    <span class="text-xl"><strong>Valor del formulario</strong></span>
    <pre>{{ '' | json }}</pre>
  </div>
  <div>
    <span class="text-xl"><strong>Persona</strong></span>
    <pre>{{ '' | json }}</pre>
  </div>
  <div>
    <span class="text-xl"><strong>Valid</strong></span>
    <pre>{{ '' | json }}</pre>
  </div>
  <div>
    <span class="text-xl"><strong>Términos</strong></span>
    <!-- <pre>{{ myForm.controls?.terminos?.errors | json }}</pre> -->
  </div>
  <div>
    <span class="text-xl"><strong>Condiciones</strong></span>
    <pre>Condiciones: </pre>
  </div>
</div>
