<h2 class="text-2xl text-center mt-2">Selectores anidados</h2>
<div class="divider"></div>

<form autocomplete="off">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 m-5">
    <!-- Region -->
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Continente:</legend>
      <select title="region" class="select select-ghost">
        <option disabled selected>-- Seleccione Continente --</option>
        <!-- <option [value]="region">
          {{ region }}
        </option> -->
      </select>
      <!-- <span class="label">Optional</span> -->
    </fieldset>
    <!-- Countries -->
    <fieldset class="fieldset">
      <legend class="fieldset-legend">País:</legend>
      <select title="pais" class="select select-ghost">
        <option disabled selected>-- Seleccione Pais --</option>
        <!-- <option [value]="country.cca3">
          {{ country.name }}
        </option> -->
      </select>
      <!-- <span class="label">Optional</span> -->
    </fieldset>
    <!-- Countries -->
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Fronteras:</legend>
      <select title="pais" class="select select-ghost">
        <option disabled selected>-- Seleccione la frontera --</option>
        <!-- <option [value]="country.cca3">
          {{ country.name }}
        </option> -->
      </select>
      <!-- <span class="label">Optional</span> -->
    </fieldset>
  </div>
</form>

<div class="divider"></div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 m-5 gap-4">
  <div>
    <h3 class="text-xl">Formulario</h3>
    <code>
      {{ 'myForm.value' | json }}
    </code>
    <p>is form valid: {{ 'myForm.valid' }}</p>
  </div>
</div>
