<h2 class="text-2xl text-center mt-2">Reactivos: <small class="text-xl">Básicos</small> </h2>
<div class="divider"></div>

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 m-5">
    <!-- Campo de producto -->
    <div>
      <label class="input">
        <span class="label">Producto</span>
        <input type="text" placeholder="Nombre del producto" formControlName="name" />
      </label>

      @if (formUtils.isValidField(myForm, 'name')) {
        <span class="text-sm text-error">
          {{ formUtils.getFieldError(myForm, 'name') }}
        </span>
      }
    </div>

    <!-- Campo de precios -->
    <div>
      <label class="input">
        <span class="label">Precio</span>
        <input type="number" placeholder="Precio del producto" formControlName="price" />
      </label>
      @if (formUtils.isValidField(myForm, 'price')) {
        <span class="text-sm text-error">
          {{ formUtils.getFieldError(myForm, 'price') }}
        </span>
      }
    </div>

    <!-- Campo de existencias -->
    <div>
      <label class="input">
        <span>Existencias</span>
        <input type="number" placeholder="Existencias del producto" formControlName="inStorage" />
      </label>

      @if (formUtils.isValidField(myForm, 'inStorage')) {
        <span class="text-sm text-error">
          {{ formUtils.getFieldError(myForm, 'inStorage') }}
        </span>
      }
    </div>
  </div>

  <div class="flex justify-center items-center">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>

<div class="divider"></div>

<div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-4 m-5">
  <div>
    <span class="text-lg"><strong> Valid </strong></span>
    <pre>{{ myForm.valid | json }}</pre>
  </div>

  <div>
    <span class="text-lg"> <strong> Pristine </strong> </span>

    <pre>{{ myForm.pristine | json }}</pre>
  </div>
  <div>
    <span class="text-lg"><strong>Touched</strong></span>
    <pre>{{ myForm.touched | json }}</pre>
  </div>

  <div>
    <span class="text-lg"> <strong> Value </strong> </span>
    <pre>  {{ myForm.value | json }} </pre>
  </div>

  <div>
    <span class="text-lg"> <strong> Errores en name </strong> </span>
    <pre>  {{ myForm.controls['name'].errors | json }} </pre>
  </div>

  <div>
    <span class="text-lg"> <strong> Errores en price </strong> </span>
    <pre>  {{ myForm.controls['price'].errors | json }} </pre>
  </div>

  <div>
    <span class="text-lg"> <strong> Errores en inStorage </strong> </span>
    <pre>  {{ myForm.controls['inStorage'].errors | json }} </pre>
  </div>

  <div>
    <span class="text-lg"> <strong> Precio </strong> </span>
    <pre>  {{ myForm.controls['price'].value | json }} </pre>
  </div>

  <div>
    <span class="text-lg"> <strong> Producto </strong> </span>
    <pre>  {{ myForm.controls['name'].value | json }} </pre>
  </div>
</div>
