<section class="flex justify-between p-2">
  <h2 class="text-2xl">Páginas</h2>
  <div>
    <label class="toggle toggle-xl text-base-content">
      <input type="checkbox" (change)="themeService.toggleTheme()" />
      <svg xmlns="http://www.w3.org/2000/svg" aria-label="enabled" viewBox="0 0 24 24">
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 21a9 9 0 0 0 8.997-9.252a7 7 0 0 1-10.371-8.643A9 9 0 0 0 12 21"
          stroke-width="1"
        />
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" aria-label="disabled" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="1">
          <circle cx="12" cy="12" r="4" stroke-linejoin="round" />
          <path
            stroke-linecap="round"
            d="M20 12h1M3 12h1m8 8v1m0-18v1m5.657 13.657l.707.707M5.636 5.636l.707.707m0 11.314l-.707.707M18.364 5.636l-.707.707"
          />
        </g>
      </svg>
    </label>
  </div>
</section>

<div class="divider"></div>

<h3 class="text-lg text-center">Reactive</h3>
<section class="flex justify-center items-center">
  <ul class="menu bg-base-200 rounded-box w-50">
    @for (item of reactiveMenu; track item.title) {
      <li>
        <a [routerLink]="item.route" routerLinkActive="bg-orange-600">
          {{ item.title }}
        </a>
      </li>
    }
  </ul>
</section>

<h3 class="mt-3 text-lg text-center">Auth</h3>
<section class="flex justify-center items-center">
  <ul class="menu bg-base-200 rounded-box w-50 m-2">
    @for (item of authMenu; track item.title) {
      <li>
        <a [routerLink]="item.route" routerLinkActive="bg-orange-600">
          {{ item.title }}
        </a>
      </li>
    }
  </ul>
</section>

<h3 class="mt-3 text-lg text-center">Países</h3>
<section class="flex justify-center items-center">
  <ul class="menu bg-base-200 rounded-box w-50 m-2">
    @for (item of countryMenu; track item.title) {
      <li>
        <a [routerLink]="item.route" routerLinkActive="bg-orange-600">
          {{ item.title }}
        </a>
      </li>
    }
  </ul>
</section>
