<h2 class="text-2xl text-center mt-2">Validaciones Reactivas</h2>
<div class="divider"></div>

<form autocomplete="off">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 m-5">
    <!-- Nombre -->
    <div>
      <label class="input">
        <span class="label">Nombre y apellido</span>
        <input type="text" placeholder="Nombre del usuario" />
      </label>
      <span class="text-sm text-error"> Debe de ser en formato de nombre y apellido </span>
    </div>

    <!-- Email -->
    <div>
      <label class="input">
        <span class="label">Email</span>
        <input type="email" placeholder="Email del usuario" />
      </label>

      <span class="text-sm text-error"> mensaje de error del email </span>
    </div>

    <!-- Username -->
    <div>
      <label class="input">
        <span class="label">Username</span>
        <input type="text" placeholder="Nombre código del usuario" />
      </label>

      <span class="text-sm text-error"> El username no puede ser Strider </span>
    </div>

    <!-- Password -->
    <div>
      <label class="input">
        <span class="label"> Password</span>
        <input type="password" placeholder="Password de su cuenta" />
      </label>
      <span class="text-sm text-error"> La contraseña debe de ser mayor de 6 caracteres. </span>
    </div>

    <!-- Password2 -->
    <div>
      <label class="input">
        <span class="label">Confirmar</span>
        <input type="password" placeholder="Confirmar la contraseña" />
      </label>
      <span class="text-sm text-error"> Las contraseñas deben de ser iguales </span>
    </div>
  </div>
  <div class="flex justify-center items-center">
    <button class="btn btn-primary" type="submit">Crear</button>
  </div>
</form>

<div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-4 m-5">
  <div>
    <span class="text-lg"><strong> Form Valid: </strong></span>
    <span class="text-lg"><strong> Form Pending: </strong></span>
    <span class="text-lg"><strong> Form Errors: </strong></span>
    <pre>{{ '' | json }}</pre>
  </div>
  <div>
    <span class="text-lg"><strong> Nombre </strong></span>
    <pre>{{ '' | json }}</pre>
  </div>
  <div>
    <span class="text-lg"><strong> Email </strong></span>
    <pre>{{ '' | json }}</pre>
  </div>
  <div>
    <span class="text-lg"><strong> Username </strong></span>
    <pre>{{ '' | json }}</pre>
  </div>
  <div>
    <span class="text-lg"><strong> Password </strong></span>
    <pre>{{ '' | json }}</pre>
  </div>
  <div>
    <span class="text-lg"><strong> Confirmar </strong></span>
    <pre>{{ '' | json }}</pre>
  </div>
</div>
